@model CarApp.Models.EditModel
@{
    ViewBag.Title = "CreateCarMark";
}
<h2>Create New</h2>
<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#home">Car Mark</a></li>
    <li><a data-toggle="pill" href="#menu1">Spare Part</a></li>
    <li><a data-toggle="pill" href="#menu2">Add Part to Car</a></li>
    <li><a data-toggle="pill" href="#menu3">Delete Car Marks</a></li>
</ul>
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <p>
            @using (Html.BeginForm("CreateCarMark", "Create", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.CarMark.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CarMark.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CarMark.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </p>
    </div>
    <div id="menu1" class="tab-pane fade">
        <p>
            @using (Html.BeginForm("CreateSparePart", "Create", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.SparePart.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10" style="margin-bottom: 10px">
                            @Html.EditorFor(model => model.SparePart.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SparePart.Name, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.SparePart.Code, new { @class = "control-label col-md-2" })
                        <div class="col-md-10" style="margin-bottom: 10px">
                            @Html.EditorFor(model => model.SparePart.Code, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SparePart.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </p>
    </div>
    <div id="menu2" class="tab-pane fade">
        <p>
            @using (Html.BeginForm("CreateCarSparePart", "Create", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10" style="left: 86px">
                            <label style="font-weight: bold; margin-right: 10px">Car Mark</label>
                            @Html.DropDownListFor(model => model.SelectedCarMarkId, new SelectList(Model.CarMarks, "Id", "Name"), new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-10" style="left: 86px">
                            <label style="font-weight: bold; margin-right: 10px">Spare Part</label>
                            @Html.DropDownListFor(model => model.SelectedSparePartId, new SelectList(Model.SpareParts, "Id", "Name"), new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </p>
    </div>
    <div id="menu3" class="tab-pane fade">
        <p>
            <h2>Car Marks</h2>
            <table class="table">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                </tr>

                @foreach (var item in Model.CarMarks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
}
            </table>
        </p>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}